@use "sass:color";
@use "variables" as *;

#clientes {
  background-color: $color-background-light-primary;

  @include dark-mode {
    background-color: $color-background-dark-primary;
    color: $color-text-light;
  }

  .carousel {
    max-width: 700px; // Limita a largura do carrossel no centro
    margin: auto;
  }

  .carousel-item {
    padding: 3rem 1rem;
  }

  .blockquote {
    font-style: italic;
    border-left: 5px solid $color-secondary;
    padding-left: 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;

    p {
      font-size: 1.15rem;
    }
  }

  .blockquote-footer {
    color: color.adjust($default-text, $lightness: 20%);

    // 2. Dark Mode
    @include dark-mode {
      color: color.adjust($color-text-light, $lightness: -20%);
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
    filter: invert(40%) sepia(90%) saturate(1000%) hue-rotate(30deg); /* Laranja nos botões */

    @include dark-mode {
      filter: invert(70%) sepia(90%) saturate(1000%) hue-rotate(30deg); /* Mais claro no dark mode */
    }
  }
}
