@use "sass:color";
@use "variables" as *;

// 1. Definição da Imagem de Fundo
$contato-bg-image: url("../img/joe-woods-4Zaq5xY5M_c-unsplash.jpg");

#contato {
  // 1. Cor padrão do texto (Agora reconhece $color-text-light)
  color: $color-text-light;
  padding-top: 4rem;
  padding-bottom: 4rem;

  // 2. Estilos da Imagem de Fundo
  background-image: $contato-bg-image;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;

  // 3. Sobreposição de cor (Overlay)
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(black, 0.4);
    z-index: -1;

    // Agora reconhece o mixin dark-mode
    @include dark-mode {
      background-color: rgba(black, 0.8);
    }
  }

  // 3. Estilo Glassmorphism
  .glasseffect {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.017);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
}
