@import "variables";

#contato {
  padding-top: 4rem;
  padding-bottom: 4rem;

  p {
    margin-bottom: 2rem;
  }

  .form-control {
    border-radius: 4px;
    padding: 0.75rem 1rem;

    @include dark-mode {
      background-color: #333;
      border-color: #555;
      color: $color-text-light;
    }
  }

  // Estilo do botão de envio (Já definido no _hero.scss)
}
