@use "sass:color";
@use "variables" as *;

#contato {
  // 1. Estilo vidro
  .glasseffect {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.352);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }

  .btn-budget-hero {
    border: 1px solid $color-secondary;
    color: $color-secondary;
    font-weight: 600;
    border-radius: 50px;
    transition: all 0.3s ease;

    &:hover {
      background-color: $color-secondary;
      color: white;
      transform: translateY(-2px);
    }
  }
}
