@use "sass:color";
@use "variables" as *;

#main-footer {
  background-color: $color-text-dark;
  color: $color-text-light;
  font-family: "Inter", sans-serif;

  .footer-title {
    font-weight: 700;
    font-size: 1.1rem;
    color: #fff;
    text-transform: none;
  }

  // Seção de Marca e Copyright (Esquerda)
  p.small {
    line-height: 1.6;
    color: rgba(255, 255, 255, 0.7);
  }

  .social-icons {
    .social-btn {
      width: 45px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #111; // Cinza quase preto
      border-radius: 6px;
      color: #fff;
      font-size: 1.2rem;
      text-decoration: none;
      transition: all 0.3s ease;

      &:hover {
        background: $color-secondary;
        transform: translateY(-3px);
      }
    }
  }

  // Links Rápidos
  .footer-links {
    li {
      margin-bottom: 12px;
      a {
        color: #fff;
        text-decoration: none;
        font-size: 0.95rem;
        transition: color 0.3s ease;

        &:hover {
          color: $color-secondary;
        }
      }
    }
  }

  // Botões de Contato (Direita - Estilo Alt Reformas)
  .contact-buttons {
    .contact-item {
      text-align: left;
      padding: 14px 18px;
      color: #fff;
      border: 1px solid $color-tertiary;
      display: flex;
      align-items: center;
      transition: all 0.3s ease;
      background: transparent;
      border-radius: 50px;
      transition: all 0.3s ease;

      i {
        font-size: 1.1rem;
        color: #fff;
      }

      &:hover {
        background-color: $color-secondary;
        color: white;
        transform: translateY(-2px);
      }
    }
  }

  // Linha Final e Créditos
  hr {
    opacity: 0.1;
  }

  .text-secondary {
    color: rgba(255, 255, 255, 0.5) !important;

    strong {
      color: #fff;
    }
  }

  .map-dark {
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.1);

    iframe {
      filter: grayscale(100%) invert(92%) contrast(83%) brightness(88%);
      transition: all 0.5s ease;

      // Remove o fundo branco enquanto o mapa carrega
      background-color: #1a1a1a;
    }

    // O mapa volta às cores originais ao passar o mouse
    &:hover iframe {
      filter: grayscale(0%) invert(0%) contrast(100%) brightness(100%);
    }
  }
}
