@use "sass:color";
@use "variables" as *;

footer {
  background-color: $color-text-dark; // Cor escura para o rodapé
  color: $color-text-light;

  [data-bs-theme="dark"] & {
    background-color: black;
  }

  p {
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }

  small {
    color: color.adjust($color-text-light, $lightness: 20%);
  }

  .bi-code-slash {
    color: $color-secondary;
  }
}
