@use "sass:color";
@use "variables" as *;

body {
  background-color: $default-bg;
  color: $default-text;
  overflow-x: hidden;

  @include dark-mode {
    background-color: $color-bg-dark-primary;
    color: $color-text-light;
  }
}

// Estilo dos Componentes Fixos (WhatsApp/Instagram)
.fixed-right-icons {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  z-index: 1050;

  .icon-link {
    display: block;
    margin-bottom: 15px;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    border-radius: 50%;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    font-size: 1.6rem;

    &:hover {
      transform: scale(1.1);
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
    }
  }

  .whatsapp {
    background-color: $color-secondary;
    color: $color-primary-light;

    @include dark-mode {
      background-color: $color-secondary;
      color: $color-text-dark;
      box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2);
    }
  }
  .instagram {
    background-color: $color-secondary;
    color: $color-primary-light;

    @include dark-mode {
      background-color: $color-secondary;
      color: $color-text-dark;
      box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2);
    }
  }
}

// Estilo para o botão "Voltar ao Topo"
.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 1060;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 1.5rem;
  color: $color-text-light;
  background-color: $color-secondary;
  border-radius: 50%;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  display: none;
  text-decoration: none;

  &:hover {
    background-color: color.adjust($color-secondary, $lightness: -10%);
    transform: scale(1.1);
  }

  @include dark-mode {
    background-color: $color-secondary;
    color: $color-text-dark;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2);
  }
}
