@use "sass:color";
@use "variables" as *;

#header {
  background-color: $color-primary-light; // Padrão Light Mode
  color: $color-text-dark;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .navbar-brand img {
    height: 60px;
    width: auto;
    filter: none;
  }

  .nav-link {
    color: $default-text;
    font-weight: 500;
    transition: color 0.3s ease;

    &:hover {
      color: $color-secondary;
    }
  }

  #darkModeToggle {
    color: $color-secondary;
    border-color: $color-secondary;

    [data-bs-theme="dark"] & {
      background-color: $color-secondary;
      color: $color-text-light;
      border-color: $color-secondary;
    }
  }
}
