@use "variables" as *;

#hero {
  min-height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../img/kelly-sikkema-xFo2IH8UxG8-unsplash.jpg") center/cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .btn-budget-hero {
    border: 1px solid $color-secondary;
    color: $color-secondary;
    font-weight: 600;
    border-radius: 50px;
    transition: all 0.3s ease;

    &:hover {
      background-color: $color-secondary;
      color: white;
      transform: translateY(-2px);
    }
  }

  .counter-box {
    h2 {
      font-size: 3rem;
      font-weight: 700;
      color: $color-secondary;
      margin-bottom: 0;
    }
    span {
      font-size: 1rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 500;
      color: $color-text-light;
    }
  }
}