@use "variables" as *;

#hero {
  min-height: 90vh;
  position: relative;
  color: white;

  .hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); // Escurece as fotos para o texto aparecer
    z-index: 2;
  }

  .btn-budget-hero {
    border: 1px solid $color-secondary;
    color: $color-secondary;
    font-weight: 600;
    border-radius: 50px;
    transition: all 0.3s ease;

    &:hover {
      background-color: $color-secondary;
      color: white;
      transform: translateY(-2px);
    }
  }

  #heroCarousel {
    top: 0;
    left: 0;
    z-index: 1;

    .hero-slide-img {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;

      // Imagens
      &.img-1 {
        background-image: url("../img/detalhesgesso.jpeg");
      }
      &.img-2 {
        background-image: url("../img/drywalldivisoria.jpeg");
      }
      &.img-3 {
        background-image: url("../img/Tiaguinho2.jpeg");
      }
      &.img-4 {
        background-image: url("../img/Tiaguinho3.jpeg");
      }
      &.img-5 {
        background-image: url("../img/Tiaguinho4.jpeg");
      }
      &.img-6 {
        background-image: url("../img/Tiaguinho5.jpeg");
      }
      &.img-7 {
        background-image: url("../img/Tiaguinho6.jpeg");
      }
    }
  }

  .counter-box {
    h2 {
      font-size: 4rem;
      font-weight: 500;
      color: $color-secondary;
    }
    span {
      font-size: 1.1rem;
      font-weight: 600;
    }
  }
}
