@use "variables" as *;

#obras {
  padding-top: 4rem;
  padding-bottom: 4rem;

  @include dark-mode {
    background-color: #333;
    border-color: #555;
    color: $color-text-light;
  }

  .card {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);

    &:hover img {
      transform: scale(1.05);
    }
  }

  .card-img-top {
    height: 250px;
    object-fit: cover;
    transition: transform 0.5s ease;
  }

  .work-link {
    display: block; // Faz o link cobrir o card inteiro
    text-decoration: none; // Remove o sublinhado padrão
    color: inherit; // Mantém a cor do texto (se houver)

    .card {
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    &:hover .card {
      transform: translateY(-5px); // Sobe levemente o card
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2) !important; // Sombra mais forte
    }
  }
}
