@use "variables" as *;

#quem-somos {
  background-color: $color-bg-light-primary;
  overflow-x: hidden;

  @include dark-mode {
    background-color: $color-bg-dark-primary;
    color: $color-text-light;
  }

  .card-quem-somos {
    background-color: white;
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    // Efeito de hover para os cards
    &:hover {
      transform: translateY(-10px);
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1) !important;
    }

    @include dark-mode {
      background-color: $color-bg-dark-secondary;
      border: 1px solid $color-secondary;
      color: $color-text-light;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    }

    h3 {
      color: $color-secondary;
      font-weight: 700;
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1rem;
      line-height: 1.6;
      opacity: 0.9;
    }
  }

  // Estilização das animações
  .animate-on-scroll {
    opacity: 0;
    transition: transform 0.8s cubic-bezier(0.2, 0.8, 0.2, 1),
      opacity 0.8s ease-out;
  }

  .slide-in-left {
    transform: translateX(-50px);
  }
  .slide-in-right {
    transform: translateX(50px);
  }
  .slide-in-bottom {
    transform: translateY(50px);
  }

  .is-animated {
    opacity: 1;
    transform: translateX(0) translateY(0) !important;
  }
}
