@use "sass:color";
@use "variables" as *; // Adicionado 'as *' para reconhecer as variáveis diretamente

#quem-somos {
  background-color: $color-background-light-primary;
  overflow-x: hidden;

  @include dark-mode {
    background-color: $color-background-dark-primary;
  }

  h3 {
    color: $color-secondary;
    margin-top: 1rem;
  }

  .animate-on-scroll {
    opacity: 0;
    transition: transform 2s cubic-bezier(0.2, 0.8, 0.2, 1), opacity 2s ease-out;
  }

  // Valores reduzidos para não sumir no mobile
  .slide-in-left {
    transform: translateX(-50px);
  }
  .slide-in-right {
    transform: translateX(50px);
  }
  .slide-in-bottom {
    transform: translateY(50px);
  }

  .is-animated {
    opacity: 1;
    transform: translateX(0) translateY(0) !important;
  }
}
