@use "sass:color";
@use "variables" as *; // Adicionado 'as *' para reconhecer as variáveis diretamente

#quem-somos {
  background-color: $color-background-light-primary;

  @include dark-mode {
    background-color: $color-background-dark-primary;
    color: $color-text-light;
  }

  .row {
    margin-top: 2rem;
  }

  h3 {
    color: $color-secondary;
    font-weight: 600;
    margin-top: 1rem;
  }

  i {
    font-size: 3rem;
  }

  .lead {
    color: $default-text;

    @include dark-mode {
      color: color.adjust($color-text-light, $lightness: 5%);
    }
  }

  // Estilos para as animações
  .animate-on-scroll {
    opacity: 0;
    transition: transform 0.8s ease-out, opacity 0.8s ease-out;
    transform: translateY(0);
  }

  .slide-in-left {
    transform: translateX(-100%);
  }
  .slide-in-right {
    transform: translateX(100%);
  }
  .slide-in-bottom {
    transform: translateY(100%);
  }

  .is-animated {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }
}
