@import "variables";

#servicos {
  padding-top: 4rem;
  padding-bottom: 4rem;

  @include dark-mode {
    background-color: #333;
    border-color: #555;
    color: $color-text-light;
  }

  .card {
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    @include dark-mode;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15) !important;
    }

    .card-title {
      color: $color-secondary;
      font-weight: 600;
    }
  }
}
