@use "sass:color";

// 1. Cores Fixas (Paleta)
$color-primary-light: #fafafa;
$color-secondary: #ff8c00;
$color-text-dark: #4a4a4a;
$color-background-dark: #1c1c1c;
$color-text-light: #fafafa;

// 2. Variáveis de Tema Global
$default-bg: $color-primary-light;
$default-text: $color-text-dark;

// 3. Mixin para Dark Mode
@mixin dark-mode {
  [data-bs-theme="dark"] & {
    @content;
  }
}
