@use "sass:color";

// 1. Cores Fixas (Paleta)
$color-primary-light: #fafafa;
$color-secondary: #ff8c00;
$color-tertiary: #c1bfbd;
$color-text-dark: #4a4a4a;
$color-background-dark-primary: #131212;
$color-background-dark-secondary: #151414;
$color-background-light-primary: #faf9f9;
$color-background-light-secondary: #f5f3f3;
$color-text-light: #fafafa;

// 2. Variáveis de Tema Global
$default-bg: $color-primary-light;
$default-text: $color-text-dark;

// 3. Mixin para Dark Mode
@mixin dark-mode {
  [data-bs-theme="dark"] & {
    @content;
  }
}
