/* Error: Undefined variable.
 *    ,
 * 59 |     background-color: $color-background-dark-primary;
 *    |                       ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   css\_variables.scss 59:23  @content
 *   css\_variables.scss 41:5   dark-mode()
 *   css\_variables.scss 58:3   @use
 *   css\main.scss 4:1          root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 59 \2502      background-color: $color-background-dark-primary;\d\a    \2502                        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   css\\_variables.scss 59:23  @content\a   css\\_variables.scss 41:5   dark-mode()\a   css\\_variables.scss 58:3   @use\a   css\\main.scss 4:1          root stylesheet";
}
